# vim:ft=bash:

if has nix; then
    if ! has nix_direnv_version || ! nix_direnv_version 2.0.0; then
        echo "nix-direnv version 2.0.0 or higher is required"
        nix_direnv_watch_file *.nix .*.nix
    fi
    use flake
fi

export JDTLS_HOME="$(pwd)/.direnv/jdtls"
jdtls_build_links "$JDTLS_HOME"
